In [28]:
import pandas as pd

[1, 1, 1, 2, 2, 2, 3, 3, 3]

## 找出买了产品3和5的顾客

In [31]:
data1 = {
    'customer': sorted([x % 3 + 1 for x in range(0, 9)]),
    'product': [1, 2, 3, 3, 4, 5, 2, 4, 5],
}
customer_product = pd.DataFrame(data1)
print(customer_product)
has_35 = customer_product.groupby('customer').apply(lambda x: (x['product'] == 3).any() & (x['product'] == 5).any())
rs = has_35[has_35.eq(True)]
rs

   customer  product
0         1        1
1         1        2
2         1        3
3         2        3
4         2        4
5         2        5
6         3        2
7         3        4
8         3        5

customer
2    True
dtype: bool

## 找出每个班级成绩排第二的学生

In [32]:
data2 = {
    'class': [1, 1, 1, 2, 2, 2, 3, 3, 3],
    'student': [x+1 for x in range(0, 9)],
    'score': [85, 89, 85, 70, 93, 94, 92, 99, 70]
}
grade = pd.DataFrame(data2)
print(grade)


def get_second(df):
    return list(df.sort_values('score', ascending=False)['student'])[1]

rs = grade.groupby('class').apply(get_second)
rs

   class  score  student
0      1     85        1
1      1     89        2
2      1     85        3
3      2     70        4
4      2     93        5
5      2     94        6
6      3     92        7
7      3     99        8
8      3     70        9

class
1    1
2    5
3    7
dtype: int64

## 给顾客购买产品的订单按日期分组

In [7]:
data3 = {
    'customer': [1, 1, 1, 2, 2, 2, 3, 3, 3],
    'product': [x+1 for x in range(0, 9)],
    'date': ['2014-01-02', '2014-01-04', '2014-01-07', '2014-02-01', '2014-01-14', '2014-01-22', '2014-03-01', '2014-01-03', '2014-01-01']
}
orders = pd.DataFrame(data3)
print(orders)


def get_cpid(df):
    c_p_id = df.sort_values('date')
    c_p_id['cp_id'] = [x+1 for x in range(0, len(df))]
    return c_p_id

rs = orders.groupby('customer').apply(get_cpid)
rs

   customer        date  product
0         1  2014-01-02        1
1         1  2014-01-04        2
2         1  2014-01-07        3
3         2  2014-02-01        4
4         2  2014-01-14        5
5         2  2014-01-22        6
6         3  2014-03-01        7
7         3  2014-01-03        8
8         3  2014-01-01        9

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>customer</th>
      <th>date</th>
      <th>product</th>
      <th>cp_id</th>
    </tr>
    <tr>
      <th>customer</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">1</th>
      <th>0</th>
      <td>1</td>
      <td>2014-01-02</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2014-01-04</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>2014-01-07</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">2</th>
      <th>4</th>
      <td>2</td>
      <td>2014-01-14</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>2014-01-22</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>2014-02-01</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3</th>
      <th>8</th>
      <td>3</td>
      <td>2014-01-01</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>2014-01-03</td>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>2014-03-01</td>
      <td>7</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>